@import '../../../styles/variables';

.loadMoreWrapper {
    padding: 15px;
    cursor: pointer;
    margin-bottom: 45px;

    .loadMore {
        text-align: center;
        transition: 0.5s;
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        p {
            margin-bottom: 5px;
        }
        &:hover {
            color: $brand-red;
        }
    }

}