@import '../../styles/variables';

.statusMessageWrapper {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto auto;
    height: 100%;
    max-width: 540px;
    .statusMessage {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}